{% extends 'base.html.twig' %}

{% block title %}Le Monde des BDs{% endblock %}

{% block body %}
<p class"aos-item" data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="1000">
    Bienvenue sur notre application de collection de BDs
</p>           
<img class"aos-item" data-aos="flip-down" data-aos-delay="1000" data-aos-duration="1000" src="{{ asset('/img/asterix.jpg') }}" alt="asterix"> 
{% endblock %}
