{% extends 'base.html.twig' %}

{% block title %}Le Monde des BDs{% endblock %}

{% block body %}
<main>
    <div class="container d-flex flex-column">
        <div class="row border-bottom border-primary mt-3 mb-3">
            <p class="col-6 aos-item d-flex justify-content-center align-items-center" data-aos="zoom-in"
                data-aos-delay="1000" data-aos-duration="1000">
                Bienvenue sur notre application de collection de BDs
            </p>
            <img class="col-6 aos-item" data-aos="flip-down" data-aos-delay="750" data-aos-duration="1000"
                src="{{ asset('/img/asterix.jpg') }}" alt="asterix">
        </div>
        <div class="row border-bottom border-primary mt-3 mb-3">
            <img class="col-6 aos-item" data-aos="flip-down" data-aos-delay="750" data-aos-duration="1000"
                src="{{ asset('/img/asterix.jpg') }}" alt="asterix">
            <p class="col-6 aos-item d-flex justify-content-center align-items-center" data-aos="zoom-in"
                data-aos-delay="1000" data-aos-duration="1000">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dicta quaerat ipsam eligendi dolore
                autem odio asperiores ipsum, reiciendis, corporis et at magni maiores eum ea temporibus nam nemo
                dolorem?
            </p>
        </div>
        <div class="row mt-3 mb-3">
            <p class="col-6 aos-item d-flex justify-content-center align-items-center" data-aos="zoom-in"
                data-aos-delay="750" data-aos-duration="1000">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nulla rem modi illo pariatur, ad
                sint quibusdam debitis neque molestiae aspernatur fugit qui, a vero numquam unde repellat?
                Necessitatibus, unde!
                Eveniet placeat quidem similique voluptatibus, numquam vel porro nobis, adipisci facere quaerat
                molestias. Ipsa, tempora amet sunt optio earum facilis porro nihil modi, maiores eveniet nesciunt
                commodi, ex inventore accusantium.
                Doloribus necessitatibus maxime ipsum eius, consectetur ullam iste quaerat totam, explicabo eaque
                dolorum nihil neque earum molestias quam ad. Nobis accusantium, molestiae quasi dignissimos facere
                repellendus nemo deserunt commodi dolores.
                Unde voluptas labore tempore, doloremque eius necessitatibus ipsa modi velit minus repudiandae!
                Doloribus deserunt nulla qui exercitationem laborum beatae libero at! Voluptatum dicta ipsa quas
                molestias aperiam rerum vero corrupti.
                Aliquid perferendis fugit atque! Dolor obcaecati voluptas sequi sit fuga ab harum vitae exercitationem
                facere cumque officiis veritatis reprehenderit eos voluptatum odio, dignissimos asperiores sed dolores
                dicta nobis in! Aliquid.
            </p>
            <img class="col-6 aos-item" data-aos="flip-down" data-aos-delay="1000" data-aos-duration="1000"
                src="{{ asset('/img/asterix.jpg') }}" alt="asterix">
        </div>
    </div>
</main>
{% endblock %}