{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
<main>
    <h1>Modification de l'auteur</h1>

    {{ include('admin/author/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('admin') }}">Retour</a>

    {{ include('admin/author/_delete_form.html.twig') }}
</main>
{% endblock %}
