body {
    position: relative;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

header, footer {
    background-color: hsl(240, 43%, 50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: aliceblue;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
    min-height: 80vh;
}

header img {
    border-radius: 20px;
}

header nav {
    /* width: 25%; */
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

header nav ul li {
    margin: 5px;
    background-color: aliceblue;
    padding: 5px;
    list-style: none;
    border-radius: 10px;
    text-align: center;
    min-width: 120px;
}

body a {
    text-decoration: none;
}

body span {
    text-align: center;
}

main p {
    color: hsl(240, 43%, 50%);
    /* color: aliceblue; */
    /* padding: 30px; */
    border-radius: 10px;

}

main form fieldset {
    border: 5px hsl(240, 43%, 50%) solid;
    border-radius: 10px;
}

main form div#id {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main form div.form-group {
    margin: 6 px 0;
}

main table.table {
    width: 90%;
}

main table.table th, main table.table td  {
    width: 10%;
    text-align: center;
}

/* Page Admin */
div.containerEditor, div.containerAuthor {display: none;}
div.containerBd {display: flex;}

div.containerEditor, div.containerBd, div.containerAuthor {
    flex-direction: column;
    align-items: center;
}