{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div>
    <button id="buttonBd" class="buttonAdmin">Bande Dessinée</button>
    <button id="buttonEditor" class="buttonAdmin">Editeur</button>
    <button id="buttonAuthor" class="buttonAdmin">Auteur</button>
</div>

<div>
    {{ include('admin/editor/index.html.twig') }}
    {{ include('admin/bande_dessinee/index.html.twig') }}
    <div id="containerAdmin" class="containerAuthor">
    </div>
</div>
{% endblock %}