{% extends 'base.html.twig' %}

{% block title %}Modifier la bande dessinée{% endblock %}

{% block body %}
<main>
    <h1>Modifier la bande dessinée</h1>

    {{ include('admin/bande_dessinee/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex">
        <a class="btn btn-primary m-2" href="{{ path('admin') }}">Retour </a>
        {{ include('admin/bande_dessinee/_delete_form.html.twig') }}
    </div>

</main>
{% endblock %}
