{% extends 'base.html.twig' %}

{% block title %}New BandeDessinee{% endblock %}

{% block body %}
    <h1>Create new BandeDessinee</h1>

    {{ include('admin/bande_dessinee/_form.html.twig') }}

    <a href="{{ path('admin') }}">back to list</a>
{% endblock %}
