{% extends 'base.html.twig' %}

{% block title %}New BandeDessinee{% endblock %}

{% block body %}
<main>
    <h1>Enregistrer une nouvelle entrée</h1>

    {{ include('admin/bande_dessinee/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('admin') }}">Retour </a>
</main>
{% endblock %}
