<header>
    <a href="/">
        <img src="{{ asset('/img/logo.jpg') }}" alt="bd" width="50" height="50">
    </a>
    
    <h1>Le monde des BD</h1>
    
    <nav>
        <ul>
            {% if app.user.email is not defined %}
                <li><a href="/login/">Connexion</a></li>
                <li><a href="/register/">S'enregistrer</a></li>
            {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="/admin/">Administration</a></li>
                {% else %} 
                    <li><a href="/user/">Profil</a></li>
                    <li><a href="/user/copy">Ma collection</a></li>
                {% endif %}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <span>Bonjour {{ app.user.firstname | capitalize }}</span>
                    <a class="text-light" href="/logout/">déconnexion</a>
                </div>
            {% endif %}
        </ul>
    </nav>
    
</header>