{% extends 'base.html.twig' %}

{% block title %}Edit Copy{% endblock %}

{% block body %}
<main>
    <h1>Edit Copy</h1>

    {{ include('user/copy/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('copy_index') }}">Retour </a>

    {{ include('user/copy/_delete_form.html.twig') }}
</main>
{% endblock %}
